body {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  margin: 10% 0% 0% 0%;
  width: 100%;
}

.button {
  background-color: transparent;
  border: none;
  color: #0092df;
  padding: 0px 0px 10px 0px;
  text-align: left;
}

.card-text {
  padding: 2% 2% 2% 2%;
}

.container .header {
  margin: 0px 0px 30px 0px;
}

.page-header {
  padding-bottom: 10px;
  margin: 20px 0px 0px 0px;
}

#about {
  background-color: #f1f1f1;
  margin: 10px 0px 20px 0px;
  padding: 20px 20px 10px 20px;
}

#avocados-info {
  float: right;
  width: 85%;
}

#avocados-total {
  float: left;
  width: 15%;
}

#avocados-country {
  float: left;
  width: 70%;
}

#avocados-price {
  float: right;
  text-align: right;
  width: 30%;
}

#flag {
  width: 30px;
  height: 20px;
}

#one-card {
  margin: 0px 0px 20px 0px
}
